.match-user-container {
    position: relative;
    display: flex;
    align-items: middle;
    height: 75px;
    width: 240px;
}

.match-user-nick {
    font-weight: 600;
}

.match-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}