.error-section {
    color: #b3b3b3;
    font-size: 36px;
    text-align: center;
    margin-bottom: 15%;
}

@media (max-width: 768px) {
    .error-section {
        font-size: 21px;
        min-height: 500px;
    }
}