.footer {
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #0f0f0f;
}

.footer-title {
    color: white;
    font-size: 16px;
}

.footer-copyright {
    text-align: center;
    margin-top: 80px;
    font-size: 13px;
    color: #535353;
}

ul {
    list-style-type: none;
}

li {
    font-size: 14px;
}