.image-container {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.img1 {
    border-radius: 50%;
    opacity: 100%;
    z-index: 1;
    margin-right: -50px;
}

.img2 {
    border-radius: 50%;
    opacity: 100%;
    z-index: 2;
    margin-right: -50px;
}

.img3 {
    border-radius: 50%;
    opacity: 100%;
    z-index: 1;
}

.image-description {
    font-size: 18px;
    text-align: center;
    color: #b3b3b3;
}

.arrows-description {
    color: #535353;
    font-style: italic;
    font-size: 16px;
}