.header {
    text-align: center;
    padding: 20px;
}

.header-logged {
    padding: 20px;
}

.header-content {
    text-align: center;
    color: #535353;
    font-size: 26px;
}

@media (max-width: 767px) {
    .header-content {
        display: none;
    }

    .header-account {
        max-width: 50%;
    }

    .header-logo {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

.user-image {
    border-radius: 50%;
    float: right;
    opacity: 90%;
}

.user-image:hover {
    box-shadow: white 0 1px 15px;
    transition-duration: .1s;
}

.dropdown-menu {
    color: #b3b3b3;
    background-color: #212121;
}

.link-item {
    text-decoration: inherit;
    color: inherit;
}

.link-item:hover {
    color: inherit;
}

.dropdown-link-item:active {
    text-decoration: inherit;
    color: black;
    background-color: #1db954;
}