.section-option {
    color: #b3b3b3;
    font-size: 21px;
    text-align: center;
}

.option-first {
    border-radius: 8px;
    padding: 50px 50px 50px 50px;
    box-shadow: #1db954 0 1px 30px;
    transition-duration: .1s;
    margin-bottom: 60px;
    
}

.option-first:hover {
    transform: scale(1.05) perspective(1px);
    box-shadow: #1db954 0 1px 50px;
    cursor: pointer;
}

@media (min-width: 1199px) {
    .option-first {
        margin-bottom: 60px;
        margin-left: 35%;
        max-width: 30%;
    }
}

.button-back {
    border-radius: 8px;
    padding: 10px 90px 10px 90px;
    font-size: 21px;
    cursor: pointer;
    color: black;
    border: line;
    background-color: #1db954;
}

.button-delete {
    width: 250px;
    color: #b50202;
    text-decoration: underline;
    cursor: pointer;
}

.button-back:hover {
    cursor: pointer;
    color: black;
    border: line;
    background-color: #1db954;
    box-shadow: #1db954 0 1px 20px;
    transition-duration: .1s;
}

.button-delete:hover {
    color: #1db954;
    cursor: pointer;
}